<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Prata&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../static/css/style.css">
    </head>
   <body>
   <div class="p-3 mb-2 bg-secondary text-white">
   <div class="main-section">
        			<div class="container-fluid px-md-0">
				<div class="row no-gutters">
					<div class="col-md-12">
						<nav class="navbar navbar-expand-lg navbar-light bg-dark">
						  <img src="{{url_for('static', filename='tracr_small_clear_logo.png')}}"
                                 style = "width:105px; height: 105px"
                                 alt = "test photo"/>
						  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
						    <span class="oi oi-menu"></span>
						  </button>

						  <div class="collapse navbar-collapse" id="navbarsExample07">
						    <ul class="navbar-nav ml-auto">
						      <li class="nav-item df-elx">
						        <a class="nav-link d-flex align-items-center" href="/home">Home <span class="sr-only">(current)</span></a>
						      </li>
						      <li class="nav-item df-elx active">
						        <a class="nav-link d-flex align-items-center" href="/heatmap">Dot Density Map</a>
						      </li>
                                <li class="nav-item df-elx">
						        <a class="nav-link d-flex align-items-center" href="/contact_tracr">Contact Tracer</a>
						      </li>
                                <li class="nav-item df-elx">
						        <a class="nav-link d-flex align-items-center" href="/about_us">Resources</a>
						      </li>

						    </ul>
						  </div>
						</nav>
					</div>
				</div>
			</div>
	   <div class="container">

				<div class="row">
					<div class="col-md-12">
                    <div class="alert alert-danger">
                        <div class="container">
                            <div class="d-flex">
                              <div class="alert-icon">
                                <i class="ion-ios-information-circle-outline"></i>
                              </div>
                              <p class="mb-0 ml-2"><b>Distance Alert:</b> Please be careful. The area you are currently
                              in has been marked a hotspot based on other Tracr user interactions.</p>
                          </div>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="false"><i class="ion-ios-close"></i></span>
                          </button>
                        </div>
			      </div>
                    </div>
                </div>
            </div>

   </div>
   <h1 class="text-warning"> Dot Density map showing location of all interactions in <small>Berkeley, CA</small> </h1>

	   <div class = "container">
   <img src="{{url_for('static', filename='berkeley_dotmap_real.png')}}"
         style = "width:850px; height: 950px"
         alt = "test photo"

		class="rounded mx-auto d-block"

   />
		   </div>


   </div>
   </body>
	<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Fake Copyright &copy; TPREP 2020</p>
    </div>
    <!-- /.container -->
  </footer>

</html>