<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Prata&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../static/css/style.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    </head>
   <body>
   <div class="p-3 mb-2 bg-secondary text-white">
       <div class="main-section">
                        <div class="container-fluid px-md-0">
                    <div class="row no-gutters">
                        <div class="col-md-12">
                            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                                <img src="{{url_for('static', filename='tracr_small_clear_logo.png')}}"
                                 style = "width:105px; height: 105px"
                                 alt = "test photo"/>


                              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="oi oi-menu"></span>
                              </button>

                              <div class="collapse navbar-collapse" id="navbarsExample07">
                                <ul class="navbar-nav ml-auto">
                                  <li class="nav-item df-elx active">
                                    <a class="nav-link d-flex align-items-center" href="/home">Home <span class="sr-only">(current)</span></a>
                                  </li>
                                  <li class="nav-item df-elx">
                                    <a class="nav-link d-flex align-items-center" href="/heatmap">Tracr Map</a>
                                  </li>
                                    <li class="nav-item df-elx">
                                    <a class="nav-link d-flex align-items-center" href="/contact_tracr">Contact Tracr</a>
                                  </li>
                                    <li class="nav-item df-elx">
                                    <a class="nav-link d-flex align-items-center" href="/about_us">Resources</a>
                                  </li>

                                </ul>
                              </div>
                            </nav>
                        </div>
                    </div>
                </div>

       </div>
       <h1>          </h1>
       <h1>          </h1>
       <h1>          </h1>
       <h1>          </h1>
       <h1>          </h1>
       <center>
       <div class="container">
           <div class="col-md-4">
         <div class="card mb-4 text-white bg-dark">
            <img class="card-img-top" src="../static/tracr_small_clear_logo.png" alt="Card image cap">
            <div class="card-body">
               <h5 class="card-title">Tracr: We'll Make it Safer</h5>
               <p class="card-text">Please click the button below if you have contracted COVID symptoms.</p>
                <div class="text-center">
                   <a href="/contact_tracr" class="btn btn-outline-light btn-sm"
                   style = "width:204px; height: 66px">
                   </a>

                </div>
            </div>
         </div>
      </div>
       </div>
           </center>



   </body>

	<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Fake Copyright &copy; TPREP 2020</p>
    </div>
    <!-- /.container -->
  </footer>
</html>